.title {
	width: 320px;
	margin: 30px auto 80px auto;
	text-align: center;
	background: #00ff99;
	border-radius: 25px;
	border: 3px solid white;
}

.title:hover {
	background: #00ccff;
  	color: #fff;
  	text-shadow: 3px 5px #00ff99;
}


.title h1 {
	font-size: 30px;
	font-weight: bold;
	background: linear-gradient(to bottom right, #7927b2, #fb3182);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	line-height: .77;
}