body {
	margin:0;
  	padding:0;
  	font-family: 'Verdana', sans-serif;
	background: rgba(0,0,0,.8);
	
}


#blue {
	background: #00aaff;
}

#blue:hover {
	background: #00ccff;
}

#red {
	background: #cc0000;
}

#red:hover {
	background: #ff0000;
}